# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{hbs,js,mjs,ts}]
indent_size = 2

[*.py]
indent_size = 4
# max_line_length = 80

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = unset

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_size = unset
indent_style = unset
insert_final_newline = unset

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
