<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ok</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >
    <!--<link rel="shortcut icon" href="/images/favicon.ico" />-->

  </head>

  <body style="background-color: #004400;">

    <div class="container-fluid h-100">

      <div class="container">

        <div class="card bg-light rounded mt-3 p-3">

          <h5>Ok</h5>

        </div>

      </div>

    </div>

  </body>

</html>
