upstream companion-service-dev{  
        server 127.0.0.1:3002;                                       
}                                                                                                    
                                                                                                     
server{                                                                                              
        listen 80;                                                                         
        listen [::]:80;
        server_name service-dev.cotingaapps.com;                                            
                                                                                                     
        access_log /var/log/nginx/nginx.companion-service-dev.access.log;
        error_log /var/log/nginx/nginx.companion-service-dev.error.log;                                                         
                                                                                                     
        location / {                                                                                 
                proxy_pass http://companion-service-dev;
                proxy_redirect off;                                                                  
                proxy_set_header Host $host;                                                         
                proxy_set_header X-Real-IP $remote_addr;                                             
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;                         
                proxy_set_header X-Forwarded-Host $server_name;                                      
                proxy_set_header 'Access-Control-Allow-Origin' '*';                                  
                proxy_set_header 'Access-Control-Allow-Credentials' 'true';                          
                proxy_set_header 'Access-Control-Allow-Methods' 'GET, POST';                         
        }                                                                                            
}